@import "_oa";

$btns: $mainBtns;

.oa-jelly-dropdown {
  position: relative;
  display: block;
  height: 50px;
  text-align: left;

  &.dpd-closed {
    ul {
      border-color: transparent;
      @include opacity(0);

      li {
        height: 0;
        border-width: 0;
      }
    }
    .dpd-title {
      border-bottom-width: 1px;
      @include border-radius(3px);

      &:after {
        @include rotate(0);
        @include text-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
      }
    }
  }

  .dpd-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    padding-right: 32px;
    border: 1px solid rgba(25, 25, 25, .3);
    border-bottom-width: 0;
    cursor: pointer;
    color: rgba(30, 30, 30, .85);
    font-weight: bolder;

    @include overflow-docx3();
    @include box-sizing('border-box');
    @include border-radius(3px 3px 0 0);
    @include transition(all .5s);
    // @include text-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
    // @include box-shadow(
    //   inset -1px -1px 1px rgba(0, 0, 0, 0.1),
    //   inset 1px 1px 1px rgba(255, 255, 255, 0.1));
    // @include background-image(
    //   linear-gradient(
    //     top,
    //     rgba(230, 230, 230, 0.2),
    //     rgba(160, 160, 160, 0.2)
    //   )
    // );

    &:after {
      position: absolute;
      display: inline-block;
      width: 20px;
      text-align: center;
      top: 1px;
      right: 12px;
      content: "▾";
      font-size: 30px;

      @include rotate(180deg);
      @include text-shadow(0 -1px 3px rgba(0, 0, 0, 0.3));
      @include transition(all .3s cubic-bezier(1.000, 0.120, 0.605, 0.805));
    }
  }

  ul {
    margin: 0;
    overflow: hidden;
    padding: 0;
    border: 1px solid rgba(25, 25, 25, .3);
    border-width: 0 1px 1px 1px;
    overflow: hidden;
    @include opacity(1);
    @include border-radius(0px 0px 3px 3px);
    @include transition(all .5s cubic-bezier(0.375, -0.600, 0.000, 1.520));

    li {
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding-left: 12px;
      border-top: 1px solid rgba(25, 25, 25, .3);
      font-weight: bolder;

      vertical-align: top;
      overflow: hidden;
      cursor: pointer;
      color: rgba(0, 0, 0, .45);

      @include overflow-docx3();
      @include box-sizing("border-box");
      @include transition(all .5s cubic-bezier(0.25, 2, 0.69, 0.66));
      // @include text-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
      // @include box-shadow(
      //   inset -1px -1px 1px rgba(0, 0, 0, 0.1),
      //   inset 1px 1px 1px rgba(255, 255, 255, 0.1));
      // @include background-image(
      //   linear-gradient(
      //     top,
      //     rgba(230, 230, 230, 0.2),
      //     rgba(160, 160, 160, 0.2)
      //   )
      // );
      &:hover {
        color: rgba(0, 0, 0, .55);
        // @include text-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
      }
    }
  }

  @each $name, $colors in $btns {
    &.#{$name}-dpd {
      .dpd-title {
        border-color: rgba(nth($colors, 1) - 25, nth($colors, 2) - 25, nth($colors, 3) - 25, .7);
        background-color: rgba(nth($colors, 1), nth($colors, 2), nth($colors, 3), .15);
        &:after {
          color: rgba(nth($colors, 1) - 25, nth($colors, 2) - 25, nth($colors, 3) - 25, 1);
        }
      }
      ul {
        border-color: rgba(nth($colors, 1) - 25, nth($colors, 2) - 25, nth($colors, 3) - 25, .7);
        li {
          border-top-color: rgba(nth($colors, 1) - 50, nth($colors, 2) - 50, nth($colors, 3) - 50, .175);
          background-color: rgba(nth($colors, 1), nth($colors, 2), nth($colors, 3), .15);

          &:hover {
            background-color: rgba(nth($colors, 1) + 10, nth($colors, 2) + 10, nth($colors, 3) + 10, .3);
          }
        }
      }
    }
  }
}